<p style="color: green"><%= notice %></p>

<%= render @job_offer %>




<% if current_user.admin? %>
  <div>
    <div>
      <%= link_to "Back to job offers", job_offers_path %>
      <%= link_to "Edit this job offer", edit_job_offer_path(@job_offer) %> |

      <%= button_to "Destroy this job offer", @job_offer, method: :delete %>
    </div>
        
    <% else %>

      <% if @job_offer.job_applications.exists?(user_id: current_user.id) %>
        <strong>Ya has aplicado a este trabajo</strong><br>
      <% else %>
       
       <%= button_to "Aplicar a este trabajo", job_offer_job_aplications_path(@job_offer), method: :post, class: "btn btn-primary" %>
       
      <% end %>

        <%= link_to "Back to job offers", job_offers_path %>
      </div>
<% end %>


